/* _content/atendimentopaciente/Shared/MainLayout.razor.rz.scp.css */
.page[b-5dsxzema6o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5dsxzema6o] {
    flex: 1;
}

.sidebar[b-5dsxzema6o] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #04163d 70%);
}

.top-row[b-5dsxzema6o] {
    background-color:  #03163a;
    justify-content: flex-end;
    height: 8px;
    display: flex;
    align-items: center;
    border-top: 8px;
    border-top-color: chocolate; /*#03163a;*/
    border-top-style: solid;
}

.top-row[b-5dsxzema6o]  a, .top-row .btn-link[b-5dsxzema6o] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-5dsxzema6o] {
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5dsxzema6o] {
        display: none;
    }

    .top-row.auth[b-5dsxzema6o] {
        justify-content: space-between;
    }

    .top-row a[b-5dsxzema6o], .top-row .btn-link[b-5dsxzema6o] {
        margin-left: 0;
    }
}

@media (min-width: 900px) {
    .page[b-5dsxzema6o] {
        flex-direction: row;
    }

    .sidebar[b-5dsxzema6o] {
        width: 80px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5dsxzema6o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5dsxzema6o], article[b-5dsxzema6o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/atendimentopaciente/Shared/NavMenu.razor.rz.scp.css */
.user-login[b-cqt1frc1va]{
    height: 2.5rem;
    background-color: chocolate;
    color: white;
    padding-top: 15px;
    padding-left: 13px;
}

.user-login-font[b-cqt1frc1va]{
    font-size: 12px;
    font-weight: 500;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 23px;
    position:absolute;
}

.navbar-toggler[b-cqt1frc1va] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cqt1frc1va] {

    height: 6.5rem;
    background-color: rgba(0,0,0,0.4);
    background-image: url("/img/logow.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    border-top: 8px;
    border-top-style: solid;
    border-top-color: chocolate;
    
}

.navbar-brand[b-cqt1frc1va] {
    font-size: 1.1rem;

}

.oi[b-cqt1frc1va] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cqt1frc1va] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-cqt1frc1va] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-cqt1frc1va] {
        padding-bottom: 1rem;
    }

    .nav-item[b-cqt1frc1va]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-cqt1frc1va]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cqt1frc1va]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 808px) {
    .navbar-toggler[b-cqt1frc1va] {
        display: none;
    }

    .collapse[b-cqt1frc1va] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
