@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('af-elements.css');

/* animate.style */

html, body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c3c3c3;
    overflow: hidden;
}

main{
    background-color: #c3c3c3;
}
.main{ /* Atendimento */
    background-color: #c3c3c3;
}

hr {
    margin: 0px !important;
    width: 100%;
    border: 1px dotted chocolate;
    background-color: chocolate;
    
}

@-moz-document url-prefix() {
    /* Seletor do elemento que você deseja estilizar apenas no Firefox */
    .font-size-mozilla {
        font-size: 13px !important;
    }
}

/* Server desconect modal*/
.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none !important;
}

#components-reconnect-modal {
    display: none !important;
}

/* Fullscreen */
*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    overflow: auto !important;
}


.content {
    padding-top: .5rem !important;
    /* min-width: 800px!important; */
}
/*Begin spinner*/
.spinner {
    z-index: 999;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 60px;
    border-radius: 100%;
    top: 350px;
    left: 55%;
    margin-left: -50px;
    background-color: #e9e9e946;
}

.opt-spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 0 auto;
}
/*End spinner*/


/* Dialog Radzen */
.custom-dialog-detalhes {
    color: chocolate;
    width: 750px !important;
}

.custom-dialog-filtros { 
    width: 780px !important;
}

.rz-dialog-content {
    flex: 0 1 auto;
    padding: 15px !important;
    overflow: auto;
}

.rz-dialog-titlebar {
    background-color: #03163A !important;
    padding: var(--rz-dialog-title-padding);
    font-size: var(--rz-dialog-title-font-size);
    line-height: var(--rz-dialog-title-line-height);
    border-bottom: var(--rz-dialog-title-border); 
}

.rz-dialog-title {
    font-weight: var(--rz-dialog-title-font-weight);
    letter-spacing: var(--rz-dialog-title-letter-spacing);
    color:#fff !important;
}

.rz-dialog-titlebar-close .rzi-times:before {
    content: 'close';
    font-weight: 700;
    color: #fff;
}

.obs-content {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* end Dialog Radzen */

/* Radzen row */
.rz-row {
    flex-wrap: wrap;
    gap: var(--rz-gap);
    row-gap: .5rem !important;
}
/* end Radzen row */

/* Radzen MultiSelect */
multiselect-items li.rz-state-highlight {
    background-color: chocolate !important;
    color: #fff !important;
    box-shadow: var(--rz-dropdown-item-selected-shadow);
    border-radius: 0;
}

.rz-chkbox-box.rz-state-active {
    background-color: chocolate !important;
    border: var(--rz-checkbox-checked-border);
}

.rz-dropdown-item:hover, .rz-menuitem:hover, .rz-autocomplete-list-item:hover, .rz-multiselect-item:hover, .rz-dropdown-items li:hover, .rz-autocomplete-items li:hover, .rz-multiselect-items li:hover {
    background-color: #ffc798 !important;
    color: #fff !important;
    border-radius: 0;
}

.rz-dropdown-item.rz-state-highlight, .rz-state-highlight.rz-menuitem, .rz-state-highlight.rz-autocomplete-list-item, .rz-state-highlight.rz-multiselect-item, .rz-dropdown-items li.rz-state-highlight, .rz-autocomplete-items li.rz-state-highlight, .rz-multiselect-items li.rz-state-highlight {
    background-color: chocolate !important;
    color: #fff !important;
    box-shadow: var(--rz-dropdown-item-selected-shadow);
    border-radius: 0;
}

/* end Radzen MultiSelect */

.clock {
    color: #fff;
    -webkit-flow-into: 30px;
    border-radius: 50%;
    padding:0px;
    font-size: 22px !important;
}

.alert { 
    padding: 7px;
    color:#fff; 
    -webkit-flow-into: 30px;
    border-radius: 100%;
}

.time { 
    padding: 3px;
    color:chocolate; 
    font-weight:630;
}

.check-exames:checked {
    background-color: chocolate !important;
    border-color: chocolate !important;
}

.form-check-input:checked {
    background-color: chocolate !important;
    border-color: chocolate !important;
}

/* Filtros */
.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix-header-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*Begin dashCard*/
.dash-cards {
    display: flex;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: .6rem;
    grid-column-end: auto;
/*    width: 200px;*/
}

.dash-card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    height: 55px;
}

.dash-card-body {
    padding: .1rem .5rem;
    display: flex;
    align-items: center;
}

.dash-card-body span {
    font-size: 1.8rem;
    color: chocolate;
    padding-right: .1rem;
}

.dash-card-body h5 {
    color: gray;
    font-size: 1rem;
}

.dash-card-body h4 {
    color: black;
    font-size: 1.1rem;
    margin-top: .2rem;
}

.dash-card-footer {
    padding: .2rem 1rem;
    background: chocolate;
}

.dash-card-footer a {
    color: var(--main-color);
}
/*End dashCard*/

/*Begin table*/
/*.table-card {
    background-color:white;
    padding:20px
}

td {
    overflow: hidden;
}

.tbColAlign {
    text-align: center;
}

.tableFixHead thead th {
    top: 0px; 
}

.tbl-content {
    height: 62vh;
    overflow-x:hidden;
    margin-top: 0px;
}*/

table {
    font-size: small;
/*    table-layout: fixed;
    margin: 0px !important;
    border-collapse: collapse;
    width: 100%;*/
}

.paciente-link {
    transition: color 0.2s ease-in-out;
}

.paciente-link:hover {
    color: chocolate !important;
}

.paciente-link-dialog {
    transition: color 0.2s ease-in-out;
}

.paciente-link-dialog:hover {
    color: var(--color-default-secundary) !important;
}

th, td {
    padding: 8px 16px;
}

th {
    background: chocolate !important;
    color: #fff;
    border-bottom: 4px solid #ccc;
    border-bottom: 4px !important;
    border-bottom-color: #afb0b3; 
    border-bottom-style: solid;
}

.tableFixHead {
    overflow-y: scroll;
}

thead tr:first-child th {
    position: sticky;
    top: 0;
}

.tbl-content-confirmacao {
    height: calc(100vh - 247px); 
/*    max-height: 100%;
    overflow-x:hidden;
    margin-top: 0px;*/
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem !important;
}

.table>:not(:last-child)>:last-child>* {
    padding: 15px !important;
}

/*.thead{
    background-color: chocolate;
    color: #fff;
    border-bottom: 4px;
    border-bottom-color: #afb0b3; 
    border-bottom-style: solid;
}*/

thead{
    background-color: chocolate;
    color: #fff;
    border-bottom: 4px;
    border-bottom-color: #afb0b3; 
    border-bottom-style: solid;
}

/*tfoot{
    display: flex;
    padding-top: 20px;
    color: chocolate;
    font-weight: 600;
}
*/

/*End table*/

select{
    border: 1px solid chocolate !important;
}

input{
    border: 1px solid chocolate !important;
}

/*Begin checkbox*/
.flexCheckDisabledYes{
    border: 1px solid chocolate !important;
    background-color: chocolate !important;
    width: 1.4em !important;
    height: 1.4em !important;
    opacity: 1.0 !important;
}

.flexCheckDisabledNo{
    border: 1px solid chocolate !important;
    width: 1.4em !important;
    height: 1.4em !important;
    opacity: 1.0 !important;
}
/*End checkbox*/

/*Begin card*/
.d-shadow{
    /* -webkit-box-shadow: 0px 0px 6px 0px rgba(46,46,46,0.4); 
    box-shadow: 0px 0px 6px 0px rgba(46,46,46,0.4); */
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.header {
    display: flex;
    gap: 1rem;
}

.content.fix-floating {
    flex: 1 1 100%; /* força os indicadores a ocupar uma linha completa */
}

.card{
    background-color: #efefef; 
    /* border: 1px solid chocolate; */
    border-bottom: 4px solid #afb0b3;
    padding-top:0px !important;
}

.fix-floating {
    display: flow;
}

.filters {
    display: flex;
    margin-left: 185px;
}

.card-body {
    flex: none !important;
    padding: .5rem .3rem .5rem .3rem !important;
}
/*End card*/

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

/*Begin toggle*/
.toggle-style {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-style label {
    font-size: 15px;
    color: #727477;
}

.form-switch .form-check-input {
    width: 3.5em;
    height: 1.5em;
    margin-left: 0 !important;
}
/*End toggle*/


/*Begin Button*/
.btn-primary {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(177, 97, 40);
    border-color: rgb(177, 97, 40);
    
}

.btn {
    padding: 10px 13px 10px 13px !important;
    font-size: 15px !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
    box-shadow: 0 0 0 0.2rem rgba(255, 116, 2, 0.5);
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 224, 224, 0.5);
}
/*End Button*/

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
