@import '_content/atendimentopaciente/atendimentopaciente.0nfzld82ds.bundle.scp.css';

/* _content/ExamesDia/Shared/MainLayout.razor.rz.scp.css */
.page[b-47354nfhj0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-47354nfhj0] {
    flex: 1;
}

.sidebar[b-47354nfhj0] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #04163d 70%);
}

.logoh[b-47354nfhj0]{
    display: none;
}

.top-row[b-47354nfhj0] {
    background-color:  #03163a;
    justify-content: flex-start;
    height: 8px;
    display: flex;
    align-items: center;
    border-top: 8px;
    border-top-color: chocolate; /*#03163a;*/
    border-top-style: solid;
}

.top-row[b-47354nfhj0]  a, .top-row .btn-link[b-47354nfhj0] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-47354nfhj0] {
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-rotate-info[b-47354nfhj0] {
    display: none;

}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-47354nfhj0] {
        display: none;
    }

    .top-row.auth[b-47354nfhj0] {
        justify-content: space-between;
    }

    .top-row a[b-47354nfhj0], .top-row .btn-link[b-47354nfhj0] {
        margin-left: 0;
    }

    

}

@media (min-width: 900px) {
    .page[b-47354nfhj0] {
        flex-direction: row;
    }

    .sidebar[b-47354nfhj0] {
        width: 80px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-47354nfhj0] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-47354nfhj0], article[b-47354nfhj0] {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }

}

@media (max-width:985px ) {
    .content[b-47354nfhj0] {
        display: none;
    }
    .img-rotate-info[b-47354nfhj0] {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        color: #333333ff;
    }
    
}
/* _content/ExamesDia/Shared/NavMenu.razor.rz.scp.css */
.user-login[b-mekhcfarqy]{
    height: 2.5rem;
    background-color: chocolate;
    color: white;
    padding-top: 15px;
    padding-left: 13px;
}

.user-login-font[b-mekhcfarqy]{
    font-size: 12px;
    font-weight: 500;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 23px;
    position:absolute;
}

.navbar-toggler[b-mekhcfarqy] {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    margin-top: 100px;
}

.top-row[b-mekhcfarqy] {

    height: 6.5rem;
    background-color: rgba(0,0,0,0.4);
    background-image: url("/img/logow.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    border-top: 8px;
    border-top-style: solid;
    border-top-color: chocolate;
    
}

.navbar-brand[b-mekhcfarqy] {
    font-size: 1.1rem;

}

.oi[b-mekhcfarqy] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-mekhcfarqy] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    margin-top: 75px;
}

    .nav-item:first-of-type[b-mekhcfarqy] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mekhcfarqy] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mekhcfarqy]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-mekhcfarqy]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-mekhcfarqy]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 1550px) {
    .navbar-toggler[b-mekhcfarqy] {
        display: none;
    }

    .nav-item[b-mekhcfarqy] {
        margin-top: 0px;
    }

    .collapse[b-mekhcfarqy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 783px) {
    .navbar-toggler[b-mekhcfarqy] {
        display: none;
}

    
}
/* _content/ExamesDia/Shared/OptionFilter.razor.rz.scp.css */
